{% load static %}
<li>
                <article class="post">
                    <a href="{% url 'post-detail-page' slug=posts.slug %}">
                        <img src="{% static 'blog/images/'|add:posts.image %}" alt="learning django">
                        <div class="post__content">
                            <h3>{{ posts.title }}</h3>
                            <p>
                                {{ posts.short_description }}
                            </p>
                        </div>
                    </a>
                </article>
</li>